PORT=3001

FRONTEND_URL=

JWT_SECRET=

DIRECT_URL=
DATABASE_URL=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

PARSEUR_API_KEY=
PARSEUR_MAILBOX_ID=

LLAMA_CLOUD_API_KEY=
OCR_PROVIDER=llama-extract

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REFRESH_TOKEN=
GOOGLE_CALENDAR_ID=

RESEND_API_KEY=
RESEND_FROM_EMAIL=